.navbar {
  display: flex;
}

.navbar-link {
  --border: 1px solid #4a648c;

  display: block;
  width: 4em;
  padding: 0.25em;
  text-align: center;
  text-decoration: none;
  border: var(--border);
  border-left: none;

  /* style button as link */
  background: none;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
  border-radius: 4px;
}

.navbar-link:first-child {
  border-left: var(--border);
}

.navbar-link:hover {
  background-color: #4a648c;
}

.navbar-link:active {
  background-color: #5a648c;
  color: white;
}

.active,
.active:hover,
.active:active {
  color:white;
  background-color: #ff1867;
  cursor: default;
  opacity: 1.0;
}